html, body {
    margin: 0;
    padding: 0;
}

.navbar{
    max-height: 40px;
    width: 100%;
    padding: 15px;
    display: flex;
    float: left;
}

.logo{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    width: 85%;
}

.logo img{
    width: 50px;
}

.logo span{
    padding-top: 6px;
}

.btn{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contact{
    display: flex;
}

.contact img{
    padding: 3px;
    
}

.contact button{
    margin-right: 10px;
}

.main-container1{
    display: flex;
    line-height: 20px;
    align-items: center;
    padding: 60px;
    justify-content: space-between;
}

.container{
    background-color: black;
    width: 45%;
    padding: 22px;
    color: white;
    border-radius: 10px;
    border: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(240, 46, 170, 0.4) 0px -5px, rgba(240, 46, 170, 0.3) 0px 0px, rgba(240, 46, 170, 0.2) 0px -5px, rgba(0, 46, 170, 0.1) 0px -5px, rgba(40, 46, 10, 0.05) 0px -5px;
    
}

select, input {
    display: block;
    margin-bottom: 20px;
    max-width: 240px;
    min-height: 30px;
}

.checkbox-group{
    background-color: black;
    width: 45%;
    padding: 22px;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    border: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(240, 46, 170, 0.4) 0px -5px, rgba(240, 46, 170, 0.3) 0px 0px, rgba(240, 46, 170, 0.2) 0px -5px, rgba(0, 46, 170, 0.1) 0px -5px, rgba(40, 46, 10, 0.05) 0px -5px;
    
}

.checkbox-group div {
    margin-bottom: -6px;
    display: flex;
    padding: 5px;
    
};

.checkbox-group label{
    margin-left: 15px;
}


.checkbox-items label{
    padding-top: 9px;
    padding-left: 3px;
}